@font-face {
  font-family: lucida;
  src: url(../../assets/fonts/Lucida\ Handwriting\ Italic.ttf);
}


/* custom style */
.h-100 {
  min-height: 100vh;
}
.pt-200 {
  padding-top: 200px !important;
}
.ml-100 {
  margin-left: 100px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-100 {
  margin-right: 100px;
}
.mr-200 {
  margin-right: 200px;
}


/* custom layout */
.header {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-right {
  padding-top: 10px !important;
}
.header-right p {
  margin: 0 10px;
}
.header-right p:first-of-type, .header-right p:last-of-type {
  cursor: pointer;
}
.header-right .MuiSvgIcon-root {
  font-size: 40px;
  margin: 8px;
  cursor: pointer;
}
.left-description {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 998;
}
.right-description {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 998;
}
.drag-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 488px;
  border-radius: 75px;
  background: url(../../assets/images/Picture2.png);
  background-size: 100% 100%;
}
.drag-target {
  background: #fff;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  float: left;
  cursor: move;
  background: url(../../assets/images/Picture1.png);
  background-size: 100% 100%;
}
.img-landing {
  width: 60%;
  height: auto;
}
.form-wrapper .MuiTextField-root {
  margin: 10px 0;
}
.MuiDialogActions-root {
  padding: 12px 24px;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #dd354d !important;
}
.MuiButton-containedSecondary {
  background-color: #dd354d !important;
}
.error {
  color: #dd354d;
}
.btn-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #dd354d !important;
}
.btn-transparent:hover {
  text-decoration: underline !important;
}

/* pages */
.bg-eat {
  background: url(../../assets/images/Picture3.png);
  background-size: 100% 100%;
  background-position: center;
}